@font-face {
    font-family: 'gym';
    src: url("../fonts/BebasNeue-Regular.eot");
    src: url("../fonts/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/BebasNeue-Regular.woff") format("woff"),
        url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}

* {
    font-family: 'gym', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FBFCFC;
    font-family: 'Raleway', sans-serif;
}

/*******NAVBAR********/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #180b4b;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

.nav-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav-left {
    margin-left: 2%;
}

.nav--items {
    padding-right: 3vh;
}


.Image {

    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../Images/background.jpg');
    opacity: 0.9;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1%;
    
}

.Image{
    display: flex;
    align-items: center;
}

.text{
    height: 40vh;
    width: 70vh;
    margin-left: 20vh;
    text-align: center;
    font-size: 30px;
    color: white;
}

/*******DUMBELL********/

.container_item {
    background-color: #F2F3F4;
    height: 25vh;
    width: 25vh;
    border: 1px solid #808B96;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px #566573;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.item {
    text-decoration: none;
    color: black;
}

.itemInfo {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    border: solid 1px black;
    padding: 10px;
    background-color: #ebebeb;
    position: relative;
}

.itemImg {
    width: 50%;
    border-radius: 20px;
}


/*******ADMIN UTILITIES********/

.titles {
    text-align: center;
    text-decoration: underline;
}

.submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #45a049;
}

.update {
    display: inline-block;
    padding: 10px 20px;
    background-color: #180b4b;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update:hover {
    background-color: #361aa9;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #DC3545;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete:hover {
    background-color: #C82333;
}

.inputs {
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.inputs:focus {
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.files {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.files:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}